<!-- BEGIN: main -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>ООО «Управляющая компания «Мурманское дорожное управление»</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
    <meta name="keywords" content="Купить асфальт Мурманск Кандалакша Мурманская область, эмульсия, щебень, песок, Аренда, каток, асфальтоукладчик, фреза, дробилка, грохот, спецтехника, Асфальтовый завод, Гудронатор, Грейдер, Мурманское Дорожное Управление"/>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--// bootstrap-css -->
    <!-- css -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!--// css -->
    <!-- font-awesome icons -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- font -->
    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- //font -->
    <script src="js/jquery-2.2.3.min.js"></script>
    <script src="js/bootstrap.js"></script>
</head>
<body>
<!-- w3-banner -->
<div class="w3-banner-1 technics jarallax">

    <div class="w3layouts-header-top">
        <div class="container">
            <div class="w3-header-top-grids">
                <div class="w3-header-top-left">
                    <p><i class="fa fa-volume-control-phone" aria-hidden="true"></i> 21-41-17</p>
                </div>
                <div class="w3-header-top-right">
                    <div class="agileinfo-social-grids">
                        <a href="mailto:ukmdu@mail.ru" style="color: white;">Напишите нам письмо</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="head">
        <div class="container">
            <div class="navbar-top">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Меню</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand logo ">
                        <h3 class="text-center"><a href="index.html">ООО «Управляющая компания</a></h3>
                        <h2 class="text-center"><a href="">«Мурманское дорожное<br>управление»</a></h2>
                    </div>

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav link-effect-4">
                        <li><a href="/">Главная</a></li>
                        <li><a href="/about">О нас</a></li>
                        <li class="active first-list"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                                         aria-haspopup="true" aria-expanded="false"><span
                                data-letters="Pages">Наши услуги</span><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="active"><a href="/services/technics">Аренда и продажа спецтехники</a></li>
                                <li class="na"><a href="/services/products">Продукция</a></li>
                                <li class="na"><a href="/services/roads">Строительство и содержание дорог</a></li>
                                <li class="na"><a href="/services/labs">Лабороторные испытания</a></li>
                            </ul>
                        </li>
                        <li><a href="/contacts">Контакты</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </div>
    </div>

</div>
<!-- //w3-banner -->
<!-- about -->
<!-- courses -->
<div class="courses">
    <div class="container">
        <h2 class="agileits-title">Аренда и продажа спецтехники</h2>
        <div class="agileits_w3layouts_team_grids w3ls_courses_grids">
            <div class="col-12 col-md-6 col-lg-4" style="margin-bottom: 30px;">
                <img src="/images/006.jpg" style="display: block; width: 100%; height: 250px; border-radius: 4px;">
                <h4 class="text-center">Дробилки</h4>
            </div>
            <div class="col-12 col-md-6 col-lg-4" style="margin-bottom: 30px;">
                <img src="/images/005.jpg" style="display: block; width: 100%; height: 250px; border-radius: 4px;">
                <h4 class="text-center">Грохоты</h4>
            </div>
            <div class="col-12 col-md-6 col-lg-4" style="margin-bottom: 30px;">
                <img src="/images/ekskavator.jpg" style="display: block; width: 100%; height: 250px; border-radius: 4px;">
                <h4 class="text-center">Экскаваторы</h4>
            </div>


            <div class="col-12 col-md-6 col-lg-4" style="margin-bottom: 30px;">
                <img src="/images/010.jpg" style="display: block; width: 100%; height: 250px; border-radius: 4px;">
                <h4 class="text-center">Катки</h4>
            </div>
            <div class="col-12 col-md-6 col-lg-4" style="margin-bottom: 30px;">
                <img src="/images/014.jpg" style="display: block; width: 100%; height: 250px; border-radius: 4px;">
                <h4 class="text-center">А/д укладчики</h4>
            </div>
            <div class="col-12 col-md-6 col-lg-4" style="margin-bottom: 30px;">
                <img src="/images/012.jpg" style="display: block; width: 100%; height: 250px; border-radius: 4px;">
                <h4 class="text-center">Фрезы</h4>
            </div>


            <div class="col-12 col-md-6 col-lg-4" style="margin-bottom: 30px;">
                <img src="/images/greider.jpg" style="display: block; width: 100%; height: 250px; border-radius: 4px;">
                <h4 class="text-center">Грейдеры</h4>
            </div>
            <div class="col-12 col-md-6 col-lg-4" style="margin-bottom: 30px;">
                <img src="/images/tracktor.jpg" style="display: block; width: 100%; height: 250px; border-radius: 4px;">
                <h4 class="text-center">Тракторы</h4>
            </div>
            <div class="col-12 col-md-6 col-lg-4" style="margin-bottom: 30px;">
                <img src="/images/011.jpg" style="display: block; width: 100%; height: 250px; border-radius: 4px;">
                <h4 class="text-center">Гудронаторы</h4>
            </div>

            <div class="col-12 col-md-6 col-lg-4" style="margin-bottom: 30px;">
                <img src="/images/samosval.jpeg" style="display: block; width: 100%; height: 250px; border-radius: 4px;">
                <h4 class="text-center">Самосвалы</h4>
            </div>
            <div class="col-12 col-md-6 col-lg-4" style="margin-bottom: 30px;">
                <img src="/images/013.jpg" style="display: block; width: 100%; height: 250px; border-radius: 4px;">
                <h4 class="text-center">Тягачи</h4>
            </div>
        </div>
    </div>
</div>
<!-- //courses -->
<!-- //about -->

<!-- footer -->
<div class="agileits-w3layouts-footer">
    <div class="container">
        <div class="col-md-6 w3-agile-grid">
            <h5>О Нас</h5>
            <p>ООО «Управляющая компания «Мурманское дорожное управление» - это крупнейшая дорожно-
                строительная компания Мурманской области с ежегодным оборотом по
                строительному монтажу свыше 1 миллиарда рублей</p>
        </div>
        <div class="col-md-6 w3-agile-grid">
            <h5>Связаться с нами</h5>
            <div class="w3-address">
                <div class="w3-address-grid">
                    <div class="w3-address-left">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="w3-address-right">
                        <h6>Контактный телефон</h6>
                        <p>21-41-17</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="w3-address-grid">
                    <div class="w3-address-left">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <div class="w3-address-right">
                        <h6>Email</h6>
                        <p>Email: <a href="mailto:ukmdu@mail.ru">ukmdu@mail.ru</a></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="w3-address-grid">
                    <div class="w3-address-left">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                    <div class="w3-address-right">
                        <h6>Адрес</h6>
                        <p>Зверосовхоз, ул.Заречная, д.2</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="copyright">
    <div class="container">
        <p>© 2018, ООО «Управляющая компания «Мурманское дорожное управление»</p>
    </div>
</div>
<!-- //footer -->

<script src="js/jarallax.js"></script>
<script src="js/SmoothScroll.min.js"></script>
<script type="text/javascript">
    /* init Jarallax */
    $('.jarallax').jarallax({
        speed: 0.5,
        imgWidth: 1366,
        imgHeight: 768
    })
</script>
</body>
</html>
<!-- END: main -->